[Desktop Entry]
Type=Application
Name=COCO Annotation Merger
Exec=COCOAnnotationMerger
Icon=logo
Categories=Utility;
Comment=GUI tool to merge COCO annotation files
Terminal=false
