# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env*/
.venv/
env_gui/

# Distribution / packaging
build/
dist/
*.egg-info/

# Tkinter cache
*.tcl

# PyInstaller
*.spec

# System files
.DS_Store
Thumbs.db
